header {

}

.nav-link, .navbar-brand {
    font-family: 'Bungee Hairline', cursive;
}

h1 {

    font-family: 'Bungee Hairline', cursive;
    text-shadow: 0 0 5px;
}

p {
    font-family: 'Bungee Hairline', cursive;
}


.box {
    background-color: rgba(0, 0, 0, 0.66);
}
.line {
    background-color: rgb(237, 0, 0);
    height: .2rem;
    width: 25rem;
}

.cart {
    background-color: rgba(0, 0, 0, 0.584);
    text-align: center;
}

.class-title {
    font-family: 'Bungee Hairline', cursive;
    font-family: 'Encode Sans SC', sans-serif;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Aldrich', sans-serif;
    font-family: 'Bungee Hairline', cursive;
    font-weight: bold;
}

.parallax-1 {
    background-image: url(../img/bg3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 700px;
    width: 100vw;
}
.parallax-2 {
    background-image: url(../img/bg1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 700px;
    width: 100vw;
}
.parallax-3 {
    background-image: url(../img/bg2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 700px;
    width: 100vw;
}
.parallax-4 {
    background-image: url(../img/bg5.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 700px;
    width: 100vw;
}
.parallax-5 {
    background-image: url(../img/bg4.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 700px;
    width: 100vw;
}



footer {
    height: 15rem;
    font-weight: bold;
    font-family: 'Noto Serif HK', serif;
font-family: 'Odibee Sans', cursive;
font-family: 'Play', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Rubik Dirt', cursive;
font-family: 'Russo One', sans-serif;
font-family: 'Silkscreen', cursive;


}

/* Fonts  */

/* font-family: 'Aldrich', sans-serif;
font-family: 'Barlow', sans-serif;
font-family: 'Bungee Hairline', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Encode Sans SC', sans-serif;
font-family: 'IBM Plex Mono', monospace; */


/* font-family: 'Aldrich', sans-serif;
font-family: 'Barlow', sans-serif;
font-family: 'Bungee Hairline', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Encode Sans SC', sans-serif;
font-family: 'IBM Plex Mono', monospace;
font-family: 'IM Fell English SC', serif;
font-family: 'Michroma', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Subrayada', sans-serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Noto Serif HK', serif;
font-family: 'Odibee Sans', cursive;
font-family: 'Play', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Rubik Dirt', cursive;
font-family: 'Russo One', sans-serif;
font-family: 'Silkscreen', cursive;
font-family: 'Staatliches', cursive;
font-family: 'Ubuntu', sans-serif; */